/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
  }
  .navbar-default .navbar-brand {
    margin-top: 10px;
    color: white;
  }
  .navbar-default .navbar-brand:hover {
    color: #f15b23;
    border: 1px solid #f15b23;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
    margin: 10px 5px 5px 5px;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #f15b23;
    border: 1px solid #f15b23;
  }
  .navbar-default .navbar-nav > li > a:visited {
    color: #f15b23;
    text-decoration: none;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #f15b23;
  }
  .navbar-default .navbar-toggle {
    border-color: #f15b23;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #490d40;
  }
  .navbar-default .navbar-toggle .icon-bar {
    color: #f15b23;
    background-color: #f15b23;
  }
  .navbar-default .navbar-collapse.collapse.in ul {
    background-color: #490d40;
  }
  /* Solid class attached on scroll past first section */
  .navbar.solid {
    background-color: #490d40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
  }
  .navbar.solid .navbar-brand {
    color: #f15b23;
    transition: color 1s ease 0s;
  }
  .navbar.solid .navbar-nav > li > a {
    color: #f15b23;
    transition: color 1s ease 0s;
  }


/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}